body {
    font-family: helvetica, sans-serif;
}

p, h1 {
    margin: 0;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
    cursor:pointer;
}

.body {
    width: 100%;
    margin: auto;
}


.nav {
    display: none;
}
.head {
    position: sticky;
    top: 0px;
    padding-top: 8px;
    margin: 16px 0;
}
.head h1 {
    font-size: 1.5rem;
}
.name {
    background-color: white;
    color: black;
}
.dropdown {
    float: right;
    background-color: black;
    color: white;
}

img {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

video {
    width: 100%;
}
.description {
    margin: 8px 0 32px 0;
}

/*
viewport height is less than viewport width.
*/
@media all and (max-height: 100vw) {
    .body {
        width: 75%;
    }
    .nav {
        display: block;
    }
    .nav a {
        padding: 0 8px;
     }
    .head {
        text-align: center;
        margin: 32px 0;
        background-color: white;
    }
    .head h1 {
        font-size: 2rem;
    }
    .name {
        margin-bottom: 4px;
    }
    .dropdown {
        display: none;
    }

    #full_page_nav {
        display: none !important;
    }

    img {
        display: inline-block;
        margin: 0;
    }
    .two img {
        width: 49.5%;
    }
    .three img {
        width: 33%;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }
    .group {
        margin-bottom: 8px;
    }
    .ungroup {
        margin-bottom: 32px;
    }
}


/*
Full page navigation overlay and content.
*/
#full_page_nav {
    display: none;
}
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}
.closebtn {
    position: fixed;
    margin: 0;
    top: 25px;
    right: 25px;
    font-size: 4rem;
}
.overlay_nav {
    height: 80%;
    margin-top: 10%;
}
.overlay_nav a {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
}
.closebtn:hover {
    cursor:pointer;
}