body {
    font-family: helvetica;
}

@font-face {
  font-family: helvetica;
  src: url(/fonts/Helvetica.woff2);
}

@font-face {
  font-family: bold;
  src: url(/fonts/Helvetica-Bold.woff2);
}

p, h1 {
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
    cursor: pointer;
}

.body {
    text-align: center;
}


.indexImg {
    display: inline-block;
    width: 100%;
}
.about {
    display: inline-block;
    width: 90%;
    text-align: left;
    margin-bottom: 16px;
}
.nav {
    display: none;
}
.head {
    position: sticky;
    top: 0px;
    padding-top: 8px;
    margin: 16px 0;
}
.head h1 {
    font-family: bold;
    font-size: 1.5rem;
}
.name {
    background-color: white;
    color: black;
}
.dropdown {
    float: right;
    background-color: black;
    color: white;
}

/*
viewport height is less than viewport width.
*/
@media all and (max-height: 100vw) {
   .indexImg {
        width: 45%;
        max-width: 450px;
        margin: 0 5% 0 0;
    }
    .about {
        display: inline-block;
        width: 25%;
        text-align: right;
        vertical-align: top;
        max-width: 250px;
        margin-bottom: 0;
    }
    .nav {
        display: block;
    }
    .nav a {
        padding: 0 18px;
    }
    .head {
        text-align: center;
        margin: 32px 0;
        background-color: white;
    }
    .head h1 {
        font-family: bold;
        font-size: 3em;
    }
    .name {
        margin-bottom: 4px;
    }
    .dropdown {
        display: none;
    }

    #full_page_nav {
        display: none !important;
    }
}


/*
Full page navigation overlay and content.
*/
#full_page_nav {
    display: none;
}
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}
.closebtn {
    position: fixed;
    margin: 0;
    top: 5px;
    right: 25px;
    font-size: 4rem;
}
.overlay_nav {
    height: 80%;
    margin-top: 10%;
}
.overlay_nav a {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
}