body {
    background-color: smokey-white;
    font-family: acumin-pro, sans-serif;
    font-weight: 100;
    }

video {
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    position: relative;
    }

img {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    }
.two img {
    width: 49%;
    }
.three img {
    width: 32%;
    }

.temp {
    width: 75%;
    margin: auto;
    }
.temp2 {
    width: 90%;
    margin: auto;
    }

h1 {
    position: relative;
    right: 10%;
    }

.header {
    position: sticky;
    top: 0px;
    padding-bottom: 10px;
    z-index: 2;
    background: white;
    }
.header h1 {
    margin-bottom: 0px;
    }
.header a {
    color: black;
    text-decoration: none;
    margin-right: 2%;
    font-weight: normal;
    }
a:hover {
  color: hotpink;
    }

li {
    list-style-type: square;
    font-weight: 100;
    }
ul {
    list-style-position: outside;
    padding:0px;
    }

.navigation {
    margin-top: 0px;
    display: inline;
    font-size: 18px;

    }

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
    justify-content: center;
    align-items: center;
    }

.modal-content {
    margin-top: 0;
    display: block;
    object-fit: contain;
    width:100%;
    height:100%;
    }

.description p {
    margin-top: 5px;
    }

h1::before {
    background-color: rgb(0, 255, 255, .3);
    content: "";
    position: absolute;
    width: 100%;
    height: 115%;
    top:  -10%;
    right: 10%;
    z-index: -1;
    }
.navbar {
    float: left;
    margin-right: 2%;
    position: relative;
    }
.headers {
    position: relative;
    right: 10%;
    }
}